<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-woff2"/>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Redirect Azure Media Player Index">
          <match url="index.html" />
          <action type="Redirect" url="{MapProtocol:{HTTPS}}aka.ms/azuremediaplayer" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect Azure Media Player Demo">
          <match url="azuremediaplayer.html" />
          <action type="Redirect" url="{MapProtocol:{HTTPS}}aka.ms/azuremediaplayer" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect OnePlayer">
          <match url="OnePlayer/*" />
          <action type="Redirect" url="{MapProtocol:{HTTPS}}aka.ms/azuremediaplayer" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect demo iframe">
          <match url="AzureMediaPlayer/demo.html" />
          <action type="Redirect" url="{MapProtocol:{HTTPS}}aka.ms/ampembed" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect azuremediaplayer_iframe">
          <match url="AzureMediaPlayer/azuremediaplayer_iframe.html" />
          <action type="Redirect" url="{MapProtocol:{HTTPS}}aka.ms/ampembed" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect amssamples">
          <match url="amssamples.html" />
          <action type="Redirect" url="{MapProtocol:{HTTPS}}aka.ms/amssamples" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect test samples">
          <match url="amssamples.html" />
          <action type="Redirect" url="{MapProtocol:{HTTPS}}aka.ms/amssamples" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect rest">
          <match url="(.*)" />
          <action type="Redirect" url="{MapProtocol:{HTTPS}}aka.ms/azuremediaplayer" redirectType="Permanent"/>
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="MapProtocol">
          <add key="on" value="https://" />
          <add key="off" value="http://" />
        </rewriteMap>
      </rewriteMaps>
    </rewrite>

  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
